body {background-color:black; font-family:arial; color:white;}
h1{color:grey;font-family:verdana}
h2{color: black;}

.maindiv {
    background-color: white;
    width: 300px;
    border-radius: 25px;
    border-color: black;
    margin: 2%;
    padding: 20px;
    align-content:  center;
    color:black;
} 

.footer {
    
    text-align: center;
    align-content: center;

}

